<template name="storyDocument">
  <div class="story">
    <div class="story-content">
      <a href="{{pathFor 'storyPage'}}">{{title}}</a>
      {{#if ownStory}}  
          <a class="btn btn-primary btn-xs" href="{{pathFor 'storyEdit'}}"> Edit story </a>
          <a class="btn btn-danger btn-xs delete" href="#"> Delete story </a>
        {{/if}}
      <p>
        <em>created by {{author}} {{livestamp submitted}}</em>
      </p>
      <p>
        <em>collaborators: {{collaboratorsList}}</em>
      </p>
    </div>
  </div>
</template>