<template name="storyEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" 
            placeholder="Choose a story title" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Visibility</label>
      <div class="controls">
        <div class="btn-group btn-toggle visibility-toggle"> 
          <button type="button" class="btn btn-default {{getActiveForVisbilityOption 'private'}}" 
            id="private">Private</button>
          <button type="button" class="btn btn-default {{getActiveForVisbilityOption 'public'}}" 
            id="public">Public</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="collaborators">Collaborators</label>
      <div class="controls">
        <input class="form-control collaborators typeahead" id="collaborators" name="collaborators" type="text" />
      </div>
    </div>

    <input type="submit" value="Update Story" class="btn btn-primary submit"/>
     <a class="btn btn-danger cancel" href="#">Cancel</a>
  </form>
</template>